/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
body {
    padding-top: 10rem;
    background-color: aqua;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }